{% extends 'base.html' %}
{% block content  %}

<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
	    <div class="text-center text-white">
		<h1 class="display-4 fw-bolder">About Us</h1>
		<p class="lead fw-normal text-white-50 mb-0">Welcome to Shua's Shop!</p>
	    </div>
	</div>
</header>

<div class="container">
	<div class = "row">
		<center>
			<div class = "col-8">
				<p align="justify">
				<br>
				<br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet sapien hendrerit, finibus lorem sed, imperdiet massa. Nullam viverra vitae justo sit amet bibendum. Mauris nulla erat, sodales sed interdum et, finibus nec quam. Aliquam vitae lacus ac ante euismod semper ut eu neque. Nam dui elit, accumsan non nunc ut, tempor hendrerit eros. In nec nisi eu ipsum viverra hendrerit at eu enim. Proin placerat justo turpis, nec pulvinar lacus pulvinar vel. <br> <br>

				Phasellus vitae congue augue. In hac habitasse platea dictumst. Sed malesuada scelerisque ligula, mollis pharetra velit fermentum et. Integer tincidunt pretium pharetra. Suspendisse et finibus ex. Nam quis justo congue, aliquet est eu, convallis risus. In euismod pellentesque erat id viverra. In fringilla quam id magna vestibulum aliquam. Proin ac fringilla justo. Cras ac leo risus. Sed augue orci, efficitur in eros in, pellentesque volutpat est. Nullam a arcu nec neque varius suscipit. Nam sit amet lorem ut justo volutpat elementum ac eget odio. Nunc a vehicula mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. <br><br>
				
				Donec non posuere purus. Donec nec dui pretium, volutpat turpis id, finibus nunc. Quisque orci arcu, ultrices malesuada sem venenatis, lobortis fermentum nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent et tincidunt ligula, non malesuada arcu. Sed luctus ante a erat vulputate vestibulum. Nulla tempus tincidunt dolor, pretium convallis ipsum. Phasellus hendrerit velit vel orci eleifend elementum. <br> <br>
				</p>
			</div>
		</center>
	</div>
</div>

{% endblock %}